<section class="w-full dark:bg-zinc-800 dark:border-b dark:border-gray-300">
    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide relative" data-bs-ride="carousel">
        <div class="carousel-inner relative w-full overflow-hidden">
            <div class="carousel-item active relative float-left w-full">
            <img
                src="/assets/images/cargo-1.jpg"
                class="block w-full"
                alt="Truck on the road to the mountains"
            />
            </div>
            <div class="carousel-item relative float-left w-full">
            <img
                src="/assets/images/cargo-2.jpg"
                class="block w-full"
                alt="Delivery worker with a box and van"
            />
            </div>
            <div class="carousel-item relative float-left w-full">
            <img
                src="/assets/images/cargo-3.jpg"
                class="block w-full"
                alt="Hands shaking and delivery truck"
            />
            </div>
        </div>
        <button
            class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- End of Carousel -->

    <h2 class="font-medium leading-tight text-4xl text-gray-800 dark:text-gray-100 text-center pt-20 pb-8">We are delivery service</h2>

    <p class="text-xl font-light leading-relaxed text-gray-800 dark:text-gray-100 text-center md:max-w-xl lg:max-w-3xl mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, libero iste quod quibusdam maxime recusandae odit eveniet, aspernatur culpa provident error molestiae vitae corporis in vero est! Beatae, ipsum voluptatibus.
    </p>

    <h3 class="font-medium leading-tight text-3xl text-gray-800 dark:text-gray-100 text-center pt-20 pb-8">Our transport</h3>
    <img src="/assets/images/VW-Transporter-T5-with-dimensions.png" class="max-w-full h-auto mx-auto rounded" alt="Van truck" />

    <p class="text-xl font-light leading-relaxed text-gray-800 dark:text-gray-100 text-center md:max-w-xl lg:max-w-3xl mx-auto pt-8 pb-20">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, libero iste quod quibusdam maxime recusandae odit eveniet.
    </p>


</section>