<section id="pricing-table" class="w-full py-20 dark:bg-zinc-800">
  <h2 class="text-3xl font-bold mb-8 text-center w-full dark:text-gray-100">Examples of our prices</h2>
  <div class="flex flex-col  mx-auto">
    <div class="overflow-x-auto">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden drop-shadow-md rounded-md">
          <table class="min-w-full">
            <thead class="bg-white text-gray-900 dark:bg-zinc-700 dark:text-gray-100">
              <tr>
                <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                  #
                </th>
                <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                  From
                </th>
                <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                  To
                </th>
                <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-metalgreen-100 text-gray-900 dark:bg-zinc-600 dark:text-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">1</td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Amsterdam
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Rotterdam
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  $100
                </td>
              </tr>
              <tr class="bg-white text-gray-900 dark:bg-zinc-700 dark:text-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">2</td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Enschede
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Utrecht
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  $100
                </td>
              </tr>
              <tr class="bg-metalgreen-100 text-gray-900 dark:bg-zinc-600 dark:text-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">3</td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Hengelo
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Den Haag
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  $100
                </td>
              </tr>
              <tr class="bg-white text-gray-900 dark:bg-zinc-700 dark:text-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">4</td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Almelo
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  Zwolle
                </td>
                <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                  $100
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>